[data-theme='dark'] {
  --color-base-0: #020202;
  --color-base-50: #0E0F11;
  --color-base-100: #191c20;
  --color-base-150: #252A2F;
  --color-base-200: #30373e;
  --color-base-300: #48515b;
  --color-base-400: #5f6c79;
  --color-base-500: #768697;
  --color-base-600: #919eac;
  --color-base-700: #adb6c1;
  --color-base-800: #c8cfd5;
  --color-base-850: #D6DBE0;
  --color-base-900: #e4e7ea;
  --color-base-950: #f1f3f5;
  --color-base-1000: #ffffff;

  --color-primary-50: #0B0518;
  --color-primary-100: #150a2f;
  --color-primary-150: #200F47;
  --color-primary-200: #2b145e;
  --color-primary-300: #401f8e;
  --color-primary-400: #5629bd;
  --color-primary-500: #6b33ec;
  --color-primary-600: #895cf0;
  --color-primary-700: #a685f4;
  --color-primary-800: #c4adf7;
  --color-primary-850: #D3C2F9;
  --color-primary-900: #e1d6fb;
  --color-primary-950: #f0ebfd;

  --color-info-50: #070A18;
  --color-info-100: #0d142f;
  --color-info-150: #141E47;
  --color-info-200: #1a285e;
  --color-info-300: #283b8d;
  --color-info-400: #354fbc;
  --color-info-500: #4263eb;
  --color-info-600: #6882ef;
  --color-info-700: #8ea1f3;
  --color-info-800: #b3c1f7;
  --color-info-850: #C6D0F9;
  --color-info-900: #d9e0fb;
  --color-info-950: #eceffd;

  --color-success-50: #01110C;
  --color-success-100: #022118;
  --color-success-150: #043224;
  --color-success-200: #054230;
  --color-success-300: #076448;
  --color-success-400: #0a8560;
  --color-success-500: #0ca678;
  --color-success-600: #3db893;
  --color-success-700: #6dcaae;
  --color-success-800: #9edbc9;
  --color-success-850: #B6E4D7;
  --color-success-900: #ceede4;
  --color-success-950: #e7f6f2;

  --color-warning-50: #191000;
  --color-warning-100: #312000;
  --color-warning-150: #4A3000;
  --color-warning-200: #624000;
  --color-warning-300: #935f00;
  --color-warning-400: #c47f00;
  --color-warning-500: #f59f00;
  --color-warning-600: #f7b233;
  --color-warning-700: #f9c566;
  --color-warning-800: #fbd999;
  --color-warning-850: #FCE2B3;
  --color-warning-900: #fdeccc;
  --color-warning-950: #fef5e6;

  --color-error-50: #160104;
  --color-error-100: #2d0107;
  --color-error-150: #43020B;
  --color-error-200: #59030e;
  --color-error-300: #860415;
  --color-error-400: #b2061c;
  --color-error-500: #df0723;
  --color-error-600: #e5394f;
  --color-error-700: #ec6a7b;
  --color-error-800: #f29ca7;
  --color-error-850: #F5B5BD;
  --color-error-900: #f9cdd3;
  --color-error-950: #fce6e9;
}
[data-theme='light'] {
  --color-base-0: #ffffff;
  --color-base-50: #f1f3f5;
  --color-base-100: #e4e7ea;
  --color-base-150: #D6DBE0;
  --color-base-200: #c8cfd5;
  --color-base-300: #adb6c1;
  --color-base-400: #919eac;
  --color-base-500: #768697;
  --color-base-600: #5f6c79;
  --color-base-700: #48515b;
  --color-base-800: #30373e;
  --color-base-850: #252A2F;
  --color-base-900: #191c20;
  --color-base-950: #0E0F11;
  --color-base-1000: #020202;

  --color-primary-50: #f0ebfd;
  --color-primary-100: #e1d6fb;
  --color-primary-150: #D3C2F9;
  --color-primary-200: #c4adf7;
  --color-primary-300: #a685f4;
  --color-primary-400: #895cf0;
  --color-primary-500: #6b33ec;
  --color-primary-600: #5629bd;
  --color-primary-700: #401f8e;
  --color-primary-800: #2b145e;
  --color-primary-850: #200F47;
  --color-primary-900: #150a2f;
  --color-primary-950: #0B0518;


  --color-info-50: #eceffd;
  --color-info-100: #d9e0fb;
  --color-info-150: #C6D0F9;
  --color-info-200: #b3c1f7;
  --color-info-300: #8ea1f3;
  --color-info-400: #6882ef;
  --color-info-500: #4263eb;
  --color-info-600: #354fbc;
  --color-info-700: #283b8d;
  --color-info-800: #1a285e;
  --color-info-850: #141E47;
  --color-info-900: #0d142f;
  --color-info-950: #070A18;

  --color-success-50: #e7f6f2;
  --color-success-100: #ceede4;
  --color-success-150: #B6E4D7;
  --color-success-200: #9edbc9;
  --color-success-300: #6dcaae;
  --color-success-400: #3db893;
  --color-success-500: #0ca678;
  --color-success-600: #0a8560;
  --color-success-700: #076448;
  --color-success-800: #054230;
  --color-success-850: #043224;
  --color-success-900: #022118;
  --color-success-950: #01110C;

  --color-warning-50: #fef5e6;
  --color-warning-100: #fdeccc;
  --color-warning-150: #FCE2B3;
  --color-warning-200: #fbd999;
  --color-warning-300: #f9c566;
  --color-warning-400: #f7b233;
  --color-warning-500: #f59f00;
  --color-warning-600: #c47f00;
  --color-warning-700: #935f00;
  --color-warning-800: #624000;
  --color-warning-850: #4A3000;
  --color-warning-900: #312000;
  --color-warning-950: #191000;

  --color-error-50: #fce6e9;
  --color-error-100: #f9cdd3;
  --color-error-150: #F5B5BD;
  --color-error-200: #f29ca7;
  --color-error-300: #ec6a7b;
  --color-error-400: #e5394f;
  --color-error-500: #df0723;
  --color-error-600: #b2061c;
  --color-error-700: #860415;
  --color-error-800: #59030e;
  --color-error-850: #43020B;
  --color-error-900: #2d0107;
  --color-error-950: #160104;
}
